# --- Database ---
POSTGRES_USER=sdohtwin
POSTGRES_PASSWORD=sdohtwin_secret
POSTGRES_DB=sdohtwin

# Local (fuera de docker) sin docker:
# DATABASE_URL=postgresql+psycopg2://sdohtwin:sdohtwin_secret@localhost:5432/sdohtwin

# --- Backend security ---
SECRET_KEY=change-me-to-a-long-random-secret
ACCESS_TOKEN_EXPIRE_MINUTES=840
REFRESH_TOKEN_EXPIRE_DAYS=7
BACKEND_CORS_ORIGINS=["http://localhost:5173","http://localhost:3000"]

# --- Frontend ---
VITE_API_URL=http://localhost:8000
